<%= render :partial => @question %>
<%= link_to 'Edit', :controller => 'questions', :action => 'edit' %> |
<%= link_to 'Back',:controller => 'questions'  %>


<h3>Answers</h3>
<div id="answers">
	<%= render :partial => @question.answers.order("votes desc,created_at asc") %>
</div>

<%= form_for [@question, Answer.new] do |f| %>
	<p>
		<%= f.label :body, "New Answer" %><br />
		<%= f.text_area :body %>
	</p>
	<p><%= f.submit "Add Answer" %></p>
<% end %>